/* This is our main css file */

body {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(39, 39, 39);
}


.title h1 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    /* cursor: pointer; */
}


.title :hover {
    color: yellow;
    transition: .3s;
    /* font-style: italic; */
    font-size: 31px;
    cursor: pointer;
}

.slider {

    font-style: italic;
    color: yellow;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: thistle;
    margin-top: 60px;
    margin-bottom: 50px;
}

.slider  :hover {
    color: tomato;
}


.myName {
    text-align: center;
    /* margin-top: 20px; */
    margin-left: 300px;
    margin-bottom: 20px;
    cursor: pointer;
}
.myName :hover {
    color: red;
}
span :hover {
    color: red;
    transition: .3s;
}











.text {
    font-size: 18px;
}

/* For the a tag */
.link {
    text-decoration: none;
    font-style: italic;
    color: rgb(125, 255, 92);
}


#ktlink a :hover {
    color: rgb(0, 0, 0) !important;
}

 a :hover {
    color: red;
    transition: .3s;
}